In [1]:
#importing requred libreries
import os
import pandas as pd
import numpy as np
from datetime import datetime

In [2]:
#importing csv data set
naukridata=pd.read_csv('naukri_com.csv')
naukridata

,company,education,experience,industry,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,payrate,postdate,site_name,skills,uniq_id
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,0 - 1 yrs,Media / Entertainment / Internet,Job Description Send me Jobs like this Quali...,210516002263,Chennai,Walkin Data Entry Operator (night Shift),NaN,"1,50,000 - 2,25,000 P.A",2016-05-21 19:30:00 +0000,NaN,ITES,43b19632647068535437c774b6ca6cf8
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,0 - 0 yrs,Advertising / PR / MR / Event Management,Job Description Send me Jobs like this Quali...,210516002391,Chennai,Work Based Onhome Based Part Time.,60.0,"1,50,000 - 2,50,000 P.A. 20000",2016-05-21 19:30:00 +0000,NaN,Marketing,d4c72325e57f89f364812b5ed5a795f0
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,4 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this - as ...,101016900534,Bengaluru,Pl/sql Developer - SQL,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,c47df6f4cfdf5b46f1fd713ba61b9eba
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,11 - 15 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this - Inv...,81016900536,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,NaN,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,Accounts,115d28f140f694dd1cc61c53d03c66ae
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,6 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Pleas...,120916002122,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,Not Disclosed by Recruiter,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,a12553fc03bc7bcced8b1bb8963f97b4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21995,Morgan Stanley Advantage Services Pvt. Ltd.,UG: Any Graduate - Any Specialization,9 - 13 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this Greet...,241116007152,Bengaluru,Quality Assurance - VP with Morgan Stanley Ban...,2.0,Not Disclosed by Recruiter,2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - QA & Testing,ef40136e3b0c0abdab695d979a4b7153
21996,Careernet Technologies Pvt Ltd hiring for Client,UG: B.Tech/B.E. - Any Specialization PG:M.Tech...,3 - 5 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Looki...,241116001104,"Bengaluru, Gurgaon",Java Backend Developers for a Product Company,NaN,"8,50,000 - 14,00,000 P.A",2016-11-24 22:47:05 +0000,www.naukri.com,IT Software - Application Programming,acb80b7bb109fa76d22d1f11c6e16c6a
21997,Musk - Startup,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,2 - 4 yrs,Internet / Ecommerce,Job Description Send me Jobs like this Work ...,251116900644,Bengaluru,Full Stack Development Engineer,NaN,Not Disclosed by Recruiter,2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - Application Programming,f6f2885a6c87572616fb766029a0d284
21998,Confidential,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,7 - 12 yrs,IT-Software / Software Services,Job Description Send me Jobs like this We ar...,231116901329,"Delhi NCR, Bengaluru",Sr UI Developer/ Technical Lead - Html/ CSS/ J...,NaN,Not Disclosed by Recruiter,2016-11-27 22:47:05 +0000,www.naukri.com,IT Software - Application Programming,c6f6538cb1007dd02c1b4b77909b3d38
21999,Cambio Consulting India Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,5 - 10 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Job d...,251116003840,Bengaluru,RF Firmware Engineers,NaN,"12,00,000 - 22,00,000 P.A",2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - System Programming,74fec26df6e1c0be0171311a2f03f180

In [3]:
naukridata.columns

Index(['company', 'education', 'experience', 'industry', 'jobdescription',
       'jobid', 'joblocation_address', 'jobtitle', 'numberofpositions',
       'payrate', 'postdate', 'site_name', 'skills', 'uniq_id'],
      dtype='object')

In [4]:
naukridata.drop('uniq_id',axis=1,inplace=True)

In [5]:
#visualizing missing values
missing_count=naukridata.isnull().sum()
missing_count

company                    4
education               1996
experience                 4
industry                   5
jobdescription             4
jobid                      0
joblocation_address      501
jobtitle                   0
numberofpositions      17536
payrate                   97
postdate                  23
site_name              18013
skills                   528
dtype: int64

In [6]:
#checking percentage of missing values
per_missing=missing_count*100/len(naukridata)
per_missing

company                 0.018182
education               9.072727
experience              0.018182
industry                0.022727
jobdescription          0.018182
jobid                   0.000000
joblocation_address     2.277273
jobtitle                0.000000
numberofpositions      79.709091
payrate                 0.440909
postdate                0.104545
site_name              81.877273
skills                  2.400000
dtype: float64

In [7]:
#missing data analysis
missing_values=pd.DataFrame({'missing_count':missing_count,'% missing':per_missing})
missing_values.style.background_gradient(cmap='Spectral')

In [8]:
#checking for unique values
for col in naukridata.columns:
    print('{} has {} values'.format(col,naukridata[col].nunique()))

company has 8469 values
education has 2355 values
experience has 147 values
industry has 63 values
jobdescription has 21063 values
jobid has 21910 values
joblocation_address has 2329 values
jobtitle has 17564 values
numberofpositions has 84 values
payrate has 1848 values
postdate has 4203 values
site_name has 1 values
skills has 45 values

In [9]:
#appen number of unique valus and unique values in list using list comprehension
unique=[[col,naukridata[col].nunique(),naukridata[col].unique()] for col in naukridata.columns]
unique

[['company',
  8469,
  array(['MM Media Pvt Ltd', 'find live infotech',
         'Softtech Career Infosystem Pvt. Ltd', ...,
         'TeamLease Services Limited hiring for BPA Solution Architect',
         'Austere Technology Solutions', 'Musk - Startup'], dtype=object)],
 ['education',
  2355,
  array(['UG: B.Tech/B.E. - Any Specialization PG:Any Postgraduate - Any Specialization, Post Graduation Not Required',
         'UG: B.Tech/B.E. - Any Specialization PG:MBA/PGDM - Any Specialization',
         'UG: Any Graduate - Any Specialization PG:Any Postgraduate Doctorate:Doctorate Not Required',
         ..., 'PG:MS/M.Sc(Science) - Any Specialization, Statistics',
         'UG: B.Tech/B.E. - Any Specialization PG:MCA - Computers, M.Tech - Any Specialization, MS/M.Sc(Science) - Any Specialization Doctorate:Doctorate Not Required',
         'UG: B.Tech/B.E. - Computers PG:MS/M.Sc(Science) - Computers Doctorate:Doctorate Not Required'],
        dtype=object)],
 ['experience',
  147,
  array(['0 - 1 yrs', '0 - 0 yrs', '4 - 8 yrs', '11 - 15 yrs', '6 - 8 yrs',
         '2 - 5 yrs', '1 - 3 yrs', '2 - 7 yrs', '1 - 5 yrs', '2 - 4 yrs',
         '3 - 8 yrs', '5 - 7 yrs', '1 - 2 yrs', '5 - 10 yrs', '6 - 10 yrs',
         '10 - 12 yrs', '4 - 6 yrs', '1 - 6 yrs', '3 - 6 yrs', '3 - 7 yrs',
         '4 - 9 yrs', '3 - 5 yrs', '0 - 5 yrs', '5 - 8 yrs', '9 - 12 yrs',
         '7 - 12 yrs', '10 - 15 yrs', '4 - 7 yrs', '8 - 12 yrs',
         '10 - 16 yrs', '5 - 9 yrs', '0 - 4 yrs', '10 - 20 yrs',
         '10 - 18 yrs', '0 - 2 yrs', '7 - 10 yrs', '6 - 11 yrs',
         '2 - 3 yrs', '1 - 4 yrs', '7 - 9 yrs', '8 - 13 yrs', '2 - 6 yrs',
         '8 - 10 yrs', '0 - 3 yrs', '6 - 9 yrs', '15 - 20 yrs',
         '12 - 16 yrs', '1 - 1 yrs', '3 - 4 yrs', '17 - 20 yrs',
         '10 - 17 yrs', '9 - 14 yrs', '13 - 15 yrs', '17 - 23 yrs',
         '15 - 25 yrs', '14 - 22 yrs', '4 - 5 yrs', '7 - 11 yrs',
         '16 - 24 yrs', '14 - 18 yrs', '12 - 15 yrs', '7 - 8 yrs',
         '5 - 6 yrs', '12 - 19 yrs', '20 - 25 yrs', '10 - 13 yrs',
         '12 - 18 yrs', '6 - 7 yrs', '10 - 14 yrs', '12 - 20 yrs',
         'Not Mentioned', '11 - 16 yrs', '15 - 17 yrs', '20 - 30 yrs',
         '15 - 21 yrs', '8 - 11 yrs', '8 - 9 yrs', '9 - 13 yrs',
         '15 - 22 yrs', '14 - 19 yrs', '13 - 19 yrs', '15 - 16 yrs',
         '14 - 20 yrs', '11 - 12 yrs', '1 - 8 yrs', '9 - 11 yrs',
         '15 - 18 yrs', '4 - 10 yrs', '10 - 11 yrs', '12 - 22 yrs',
         '7 - 16 yrs', '16 - 18 yrs', '13 - 17 yrs', '13 - 20 yrs',
         '5 - 5 yrs', '1 - 10 yrs', '12 - 14 yrs', '5 - 15 yrs',
         '11 - 17 yrs', nan, '16 - 20 yrs', '13 - 23 yrs', '3 - 3 yrs',
         '18 - 20 yrs', '23 - 30 yrs', '14 - 24 yrs', '18 - 28 yrs',
         '11 - 21 yrs', '15 - 19 yrs', '18 - 22 yrs', '6 - 12 yrs',
         '14 - 17 yrs', '12 - 17 yrs', '13 - 18 yrs', '25 - 30 yrs',
         '11 - 14 yrs', '2 - 8 yrs', '2 - 10 yrs', '4 - 11 yrs',
         '11 - 13 yrs', '14 - 16 yrs', '2 - 2 yrs', '10 - 19 yrs',
         '14 - 15 yrs', '2 - 9 yrs', '13 - 16 yrs', '7 - 7 yrs',
         '9 - 10 yrs', '11 - 20 yrs', '12 - 13 yrs', '15 - 24 yrs',
         '3 - -1 yrs', '10 - 10 yrs', '26 - 30 yrs', '7 - 14 yrs',
         '11 - 19 yrs', '16 - 25 yrs', '11 - 18 yrs', '18 - 25 yrs',
         '17 - 25 yrs', '18 - 21 yrs', '18 - 23 yrs', '20 - 24 yrs',
         '20 - 23 yrs', '3 - 10 yrs', '17 - 27 yrs', '16 - 26 yrs',
         '13 - 22 yrs'], dtype=object)],
 ['industry',
  63,
  array(['Media / Entertainment / Internet',
         'Advertising / PR / MR / Event Management',
         'IT-Software / Software Services',
         'Banking / Financial Services / Broking',
         'Aviation / Aerospace Firms',
         'Industrial Products / Heavy Machinery', 'FMCG / Foods / Beverage',
         'Recruitment / Staffing', 'Internet / Ecommerce',
         'Travel / Hotels / Restaurants / Airlines / Railways',
         'BPO / Call Centre / ITES', 'Pharma / Biotech / Clinical Research',
         'Real Estate / Property', 'Insurance', 'Facility Management',
         'Publishing', 'Education / Teaching / Training',
         'Retail / Wholesale',
         'Automobile / Auto Anciliary / Auto Components',
         'Chemicals / PetroChemical / Plastic / Rubber',
         'Government / Defence', 'Accounting / Finance',
         'Textiles / Garments / Accessories',
         'Semiconductors / Electronics', 'Telecom/ISP',
         'Medical / Healthcare / Hospitals', 'Legal',
         'Courier / Transportation / Freight / Warehousing',
         'NGO / Social Services / Regulators / Industry Associations',
         'Other', 'Architecture / Interior Design',
         'KPO / Research / Analytics',
         'Construction / Engineering / Cement / Metals',
         'Office Equipment / Automation',
         'Consumer Electronics / Appliances / Durables', 'Iron and Steel',
         'Strategy / Management Consulting Firms',
         'Oil and Gas / Energy / Power / Infrastructure',
         'IT-Hardware & Networking', 'Wellness / Fitness / Sports / Beauty',
         'Agriculture / Dairy', 'Electricals / Switchgears',
         'Security / Law Enforcement', 'Gems / Jewellery',
         'Ceramics / Sanitary ware', 'Fresher / Trainee / Entry Level',
         'Food Processing', 'Printing / Packaging', 'Brewery / Distillery',
         'Telecom/ISP /', 'Export / Import',
         'Heat Ventilation / Air Conditioning',
         'Wellness / Fitness / Sports',
         'Water Treatment / Waste Management', nan, 'Shipping / Marine',
         'Glass / Glassware', 'Animation / Gaming',
         'Fertilizers / Pesticides', 'Pulp and Paper', 'Tyres', 'Leather',
         'Broadcasting', 'Medical Devices / Equipments'], dtype=object)],
 ['jobdescription',
  21063,
  array(['Job Description \xa0 Send me Jobs like this Qualifications: - == > 10th To Graduation & Any Skill: - == > Basic Computer Knowledge Job Requirement : - == > System or Laptop Type of job: - == > Full Time or Part time Languages : - == > Tamil & English. Experience : - == > Freshers & Experience payment details: - 1 form per day 5/- 10 form per day 50/- 100 form per day 500/- monthly you can earn 15000/- per month Selection Process: - == > Easy Selection Process,So What Are You Waiting For? Apply Now & Grab Best Opportunity To Make Your Carrier & To Improve Your Earing Skills. More detail contact Mr Hari 8678902528 9003010282 Salary:INR 1,50,000 - 2,25,000 P.A Industry: Media / Entertainment / Internet Functional Area: ITES , BPO , KPO , LPO , Customer Service , Operations Role Category:Other Role:Fresher Keyskills English Typing Part Time Data Entry Selection Process Desired Candidate Profile Education- UG: B.Tech/B.E. - Any Specialization PG:Any Postgraduate - Any Specialization, Post Graduation Not Required Please refer to the Job description above Company Profile: MM Media Pvt Ltd Mass Media International Find Live Info Pvt Ltd DATA SERVICES is established in the year 2012 with a vision of transforming an ordinary to extra ordinary thing. Find live info is one of our main project, it is a developing search engine site based at Chennai, India. With years of experience, we have crafted massive data collection job opportunities for public. FIND LIVE INFO a blend of experience, imagination, strategy and action to create digital experience that excite, challenge, inspire and engage users. FIND LIVE INFO provides other business opportunities which will be handled by experts of various fields. We have interesting combination of young and experienced Specialists Under the guidance of our Top Management we bloom towards success More detail contect 8678902528 Download PPT Photo 1 \xa0 View Contact Details',
         'Job Description \xa0 Send me Jobs like this Qualifications: - == > 10th To Graduation & Any Skill: - == > Basic Computer Knowledge Job Requirement : - == > System or Laptop Type of job: - == > Full Time or Part time Languages : - == > Tamil & English. Experience : - == > Freshers & Experience payment details: - 1 form per day 5/- 10 form per day 50/- 100 form per day 500/- monthly you can earn 15000/- per month Selection Process: - == > Easy Selection Process,So What Are You Waiting For? Apply Now & Grab Best Opportunity To Make Your Carrier & To Improve Your Earing Skills. Chennai Peoples Only Contact Deepika Team Leader 9087728815 / 9087726713 Salary:INR 1,50,000 - 2,50,000 P.A. 20000 Industry: Advertising / PR / MR / Event Management Functional Area: Marketing , Advertising , MR , PR , Media Planning Role Category:Online/Digital Marketing Role:Search Engine Marketing/SEM Specialist Keyskills Data Entry data processing Desired Candidate Profile Education- UG: B.Tech/B.E. - Any Specialization PG:MBA/PGDM - Any Specialization Please refer to the Job description above Company Profile: find live infotech Find Live Infotech is one of our main projects, it is a developing search engine site based at chennai , India. With years of experience , we have crafted massive data collection job oppurtunties for public. Find live infotech provides other business opportunities which will be handled by experts of various fields Download PPT Photo 1 \xa0 View Contact Details',
         'Job Description \xa0 Send me Jobs like this - as a developer in providing application design guidance and consultation, utilizing a thorough understanding of applicable technology, tools and existing designs. - Analyzes highly complex business requirements, designs and writes technical specifications to design or redesign complex computer platforms and applications. - Provides coding direction to less experienced staff or develops highly complex original code. - Acts as an expert technical resource for modeling, simulation and analysis efforts. - Verifies program logic by overseeing the preparation of test data, testing and debugging of programs. - Oversees overall systems testing and the migration of platforms and applications to production. - Develops new documentation, departmental technical procedures and user guides. - Leads projects, allocates and manages resources and manages the work of less experienced staff. - Assures quality, security and compliance requirements are met for supported area and oversees creation of or updates to and testing of the business continuation plan.: 7+ years application development and implementation experience. Additional Job Details: - Looking for PL/SQL developer, who has experience loading data using SQL loader. Salary: Not Disclosed by Recruiter Industry: IT-Software / Software Services Functional Area: IT Software - Application Programming , Maintenance Role Category:Programming & Design Role:Software Developer Keyskills SQL Loader PL SQL Development PLSQL Procedures Application Design Test Data Application Development Desired Candidate Profile \xa0 Education- UG: Any Graduate - Any Specialization PG:Any Postgraduate Doctorate:Doctorate Not Required Company Profile: Softtech Career Infosystem Pvt. Ltd Leading client of Softtech Career Infosystem Pvt. Ltd Download PPT Photo 1 \xa0 View Contact Details',
         ...,
         'Job Description \xa0 Send me Jobs like this Work with tech lead to architect and develop a full stack of functionalities, from scratch Design and own product components, from initial technology to scale Write high performing code that deploys to production multiple times a day Make key architectural decisions as well as solve scaling challenges Collaborate with the team and communicate effectively, to solve problems and build, extend, optimize and refactor the back-end architecture Salary: Not Disclosed by Recruiter Industry: Internet / Ecommerce Functional Area: IT Software - Application Programming , Maintenance Role Category:Programming & Design Role:Software Developer Keyskills Design Solutions Python Java Javascript HTML CSS Node.js PostgreSQL jQuery EC2 DynamoDB RDS SNS SQS S3 EMR Desired Candidate Profile Strong understanding and experience in any one of core back-end programming language (Java, C++, Python etc.) Strong understanding of Object-Oriented Programming. Strong understanding of algorithms and data structures. Understanding and experience of working with mid to large scale SQL database systems (MySQL, PostgreSQL, Microsoft-SQL etc). User authentication and authorization between multiple systems, servers, and environments. Familiarity with framework tools: spring, REST services. Knowledge in HTML, CSS, JavaScript, jQuery. Understanding of Node.js and web frameworks for Node.js (expressjs etc.) Understanding of code versioning tools, such as Git. Comfortable working within non-GUI linux shell environments. Familiarity with AWS products - EC2, DynamoDB, RDS, SNS, SQS, S3, EMR etc. The right candidate loves programming, ships code to production quickly and is passionate about building products for web & mobile.Skills: Python, Java, Javascript, HTML, CSS, Node.js, PostgreSQL, AWS/EC2/ELB/S3/DynamoDB Education- UG: B.Tech/B.E. - Any Specialization PG:Any Postgraduate Doctorate:Doctorate Not Required Company Profile: Musk - Startup Musk is an invoice discounting platform that partners with medium and large corporates to finance their SME vendors against approved invoices. The platform manages entire life cycle of loan- from sourcing to servicing. Data-driven intelligent on-boarding, diligence, and process automation renders invoice discounting programs scalable and safe for lending partners. Download PPT Photo 1 \xa0 View Contact Details',
         'Job Description \xa0 Send me Jobs like this We are looking for a Senior UI Developers and Technical leads for a leading IT MNC at Delhi/NCR. Role : Senior Developer / Technical Lead / Manager Location: Delhi/ NCR SKILL REQUIREMENTS : - Expertise in HTML5 / CSS, JQuery, Javascript. - Hands on experience in Object Oriented Java script, AngularJS, BackboneJS. - The candidate should be willing to work as an individual contributor. - The candidate will be mainly involved in Design and development of Web/UI content. He should be dynamic and flexible. - Exposure in basic UI tools like HTML/CSS is must. Salary: Not Disclosed by Recruiter Industry: IT-Software / Software Services Functional Area: IT Software - Application Programming , Maintenance Role Category:Programming & Design Role:Team Lead/Technical Lead Keyskills Javascript HTML CSS UI Development JQuery Java Web Technologies Web UI Design Development Desired Candidate Profile EXPERIENCE : 7-13 yrsEducation : Btech / MCA / ME Education- UG: B.Tech/B.E. - Any Specialization PG:MCA - Computers, M.Tech - Any Specialization Doctorate:Doctorate Not Required Company Profile: Confidential Leading client Download PPT Photo 1 \xa0 View Contact Details',
         'Job Description \xa0 Send me Jobs like this Job description : Experience of 5-10 years with most of this experience in Wireless (LTE/3G/2G) RF firmware development and will be an individual contributor. He/She should have the ability to Develop, enhance, troubleshoot of RF control firmware Participate in Baseband-RFIC interface bring-up of radio boards Develop manufacturing test firmware for RF boards Creation/customization of calibration and verification routines. Work closely with LTE baseband and RF hardware teams for RF firmware integration and testing Coach and mentor team mates and groom them to reach their goals. Support pre and post sales activities. Specific Knowledge/Skills Strong experience in development, customization of RF driver firmware Strong understanding of integrated RFIC based RF hardware Strong experience with developing and optimizing RF calibration and verification routines Proficient in C. Experience with configuration management and bug tracking systems Excellent communication skills Experience working both independently and in a team-oriented, collaborative environment is essential. Salary:INR 12,00,000 - 22,00,000 P.A Industry: IT-Software / Software Services Functional Area: IT Software - System Programming Role Category:Programming & Design Role:Software Developer Keyskills 2G 3G LTE C Optimization RF Post Sales Communication Skills Bug Tracking Firmware Development Desired Candidate Profile Please refer to the Job description above Education- UG: B.Tech/B.E. - Any Specialization PG:MCA - Computers, M.Tech - Any Specialization Company Profile: Cambio Consulting India Pvt Ltd Product MNC Download PPT Photo 1 \xa0 View Contact Details'],
        dtype=object)],
 ['jobid',
  21910,
  array([210516002263, 210516002391, 101016900534, ..., 251116900644,
         231116901329, 251116003840], dtype=int64)],
 ['joblocation_address',
  2329,
  array(['Chennai', 'Bengaluru',
         'Mumbai, Bengaluru, Kolkata, Chennai, Coimbatore, Tamilnadu', ...,
         'Mumbai, Bengaluru, Hyderabad, Kolkata',
         'Mumbai, Chennai, Delhi, Bengaluru, Hyderabad, Pune',
         'Bengaluru, Malaysia'], dtype=object)],
 ['jobtitle',
  17564,
  array(['Walkin Data Entry Operator (night Shift)',
         'Work Based Onhome Based Part Time.', 'Pl/sql Developer - SQL',
         ..., 'Full Stack Development Engineer',
         'Sr UI Developer/ Technical Lead - Html/ CSS/ Javascript/ Angularjs',
         'RF Firmware Engineers'], dtype=object)],
 ['numberofpositions',
  84,
  array([     nan, 6.00e+01, 4.00e+00, 2.00e+00, 2.00e+01, 3.00e+00,
         1.00e+00, 7.00e+02, 8.00e+00, 5.00e+00, 7.00e+00, 2.50e+01,
         1.00e+01, 6.50e+02, 1.50e+01, 5.00e+01, 3.00e+01, 6.00e+00,
         4.50e+01, 1.30e+01, 1.00e+02, 2.70e+01, 2.20e+01, 1.90e+01,
         1.10e+01, 9.00e+00, 3.60e+01, 9.90e+01, 1.80e+01, 7.00e+01,
         4.90e+01, 3.50e+01, 5.20e+01, 1.25e+02, 2.00e+02, 1.20e+03,
         1.40e+01, 1.20e+01, 3.80e+01, 5.00e+02, 4.00e+01, 1.00e+03,
         4.00e+02, 1.50e+02, 4.30e+01, 7.50e+01, 5.50e+01, 2.50e+02,
         3.00e+02, 5.70e+01, 6.00e+02, 8.60e+01, 3.40e+01, 8.80e+01,
         8.90e+01, 9.50e+01, 3.50e+02, 3.20e+01, 7.40e+01, 8.70e+01,
         2.40e+01, 7.80e+01, 6.80e+01, 6.50e+01, 9.80e+01, 7.60e+01,
         9.20e+01, 2.05e+02, 8.00e+01, 5.60e+01, 6.40e+01, 7.30e+01,
         3.10e+01, 9.60e+01, 1.70e+01, 4.70e+01, 9.00e+01, 2.30e+01,
         5.50e+02, 9.00e+02, 1.60e+01, 2.00e+03, 2.90e+01, 4.10e+01,
         1.26e+02])],
 ['payrate',
  1848,
  array(['1,50,000 - 2,25,000 P.A', '1,50,000 - 2,50,000 P.A. 20000',
         'Not Disclosed by Recruiter', ...,
         '35,00,000 - 50,00,000 P.A. Compensation: Best in Industry',
         '15,00,000 - 30,00,000 P.A. Salary is open',
         '8,50,000 - 14,00,000 P.A'], dtype=object)],
 ['postdate',
  4203,
  array(['2016-05-21 19:30:00 +0000', '2016-10-13 16:20:55 +0000',
         '2016-10-13 16:20:56 +0000', ..., '2016-12-29 22:47:05 +0000',
         '2016-11-24 22:47:05 +0000', '2016-11-27 22:47:05 +0000'],
        dtype=object)],
 ['site_name', 1, array([nan, 'www.naukri.com'], dtype=object)],
 ['skills',
  45,
  array(['ITES', 'Marketing', 'IT Software - Application Programming',
         'Accounts', 'Production', 'Sales', 'IT Software - Other',
         'Executive Assistant', 'IT Software - Mobile',
         'Engineering Design', 'Financial Services', 'Hotels',
         'IT Software - QA & Testing', 'HR', 'Supply Chain',
         'IT Software - Network Administration', 'Architecture', 'Legal',
         'Site Engineering', 'Journalism', nan, 'IT Software - DBA',
         'Strategy', 'Medical', 'Design', 'Defence Forces',
         'IT Software - Mainframe', 'IT Software - Telecom Software',
         'IT Software - Embedded', 'IT Software - Middleware', 'Teaching',
         'IT Software - System Programming',
         'IT Software - Client/Server Programming', 'Travel',
         'IT Software - eCommerce', 'TV', 'Fashion Designing',
         'IT Software - ERP', 'IT Hardware',
         'Analytics & Business Intelligence', 'Beauty/Fitness/Spa Services',
         'Top Management', 'Export', 'IT Software - Systems', 'Packaging',
         'Shipping'], dtype=object)]]

In [10]:
count_unq=pd.DataFrame(unique,columns=['column name','count','unique_values'])
count_unq.style.background_gradient(cmap='Spectral')

#data cleaning for payrate column

In [11]:
#we have to seprate this values in min pay rate and max payrate 
naukridata['payrate']

0               1,50,000 - 2,25,000 P.A
1        1,50,000 - 2,50,000 P.A. 20000
2            Not Disclosed by Recruiter
3            Not Disclosed by Recruiter
4            Not Disclosed by Recruiter
                      ...
21995        Not Disclosed by Recruiter
21996          8,50,000 - 14,00,000 P.A
21997        Not Disclosed by Recruiter
21998        Not Disclosed by Recruiter
21999         12,00,000 - 22,00,000 P.A
Name: payrate, Length: 22000, dtype: object

In [12]:
payrate_len=[len(str(pay).split('-')) for pay in naukridata['payrate']]

In [13]:
pd.Series(payrate_len).value_counts()

1    17028
2     4682
4      126
3       83
5       54
6       24
7        3
dtype: int64

In [14]:
payrate_split=naukridata['payrate'].str.split('-',expand=True)
payrate_split

,0,1,2,3,4,5,6
0,"1,50,000","2,25,000 P.A",None,None,None,None,None
1,"1,50,000","2,50,000 P.A. 20000",None,None,None,None,None
2,Not Disclosed by Recruiter,None,None,None,None,None,None
3,Not Disclosed by Recruiter,None,None,None,None,None,None
4,Not Disclosed by Recruiter,None,None,None,None,None,None
...,...,...,...,...,...,...,...
21995,Not Disclosed by Recruiter,None,None,None,None,None,None
21996,"8,50,000","14,00,000 P.A",None,None,None,None,None
21997,Not Disclosed by Recruiter,None,None,None,None,None,None
21998,Not Disclosed by Recruiter,None,None,None,None,None,None
21999,"12,00,000","22,00,000 P.A",None,None,None,None,None

In [15]:
payrate_split[0]=payrate_split[0].str.replace(',','')
payrate_split[0]=payrate_split[0].str.strip()

In [16]:
payrate_split

,0,1,2,3,4,5,6
0,150000,"2,25,000 P.A",None,None,None,None,None
1,150000,"2,50,000 P.A. 20000",None,None,None,None,None
2,Not Disclosed by Recruiter,None,None,None,None,None,None
3,Not Disclosed by Recruiter,None,None,None,None,None,None
4,Not Disclosed by Recruiter,None,None,None,None,None,None
...,...,...,...,...,...,...,...
21995,Not Disclosed by Recruiter,None,None,None,None,None,None
21996,850000,"14,00,000 P.A",None,None,None,None,None
21997,Not Disclosed by Recruiter,None,None,None,None,None,None
21998,Not Disclosed by Recruiter,None,None,None,None,None,None
21999,1200000,"22,00,000 P.A",None,None,None,None,None

In [17]:
pattern='\D.*'

In [18]:
payrate_split[0]=payrate_split[0].str.replace(pattern,'')

C:\Users\sandy4232\AppData\Local\Temp\ipykernel_20276\2871245828.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  payrate_split[0]=payrate_split[0].str.replace(pattern,'')

In [19]:
payrate_split

             0                     1     2     3     4     5     6
0       150000          2,25,000 P.A  None  None  None  None  None
1       150000   2,50,000 P.A. 20000  None  None  None  None  None
2                               None  None  None  None  None  None
3                               None  None  None  None  None  None
4                               None  None  None  None  None  None
...        ...                   ...   ...   ...   ...   ...   ...
21995                           None  None  None  None  None  None
21996   850000         14,00,000 P.A  None  None  None  None  None
21997                           None  None  None  None  None  None
21998                           None  None  None  None  None  None
21999  1200000         22,00,000 P.A  None  None  None  None  None

[22000 rows x 7 columns]

In [20]:
payrate_split[1]=payrate_split[1].str.strip()

In [21]:
payrate_split[1]=payrate_split[1].apply(lambda x:str(x).replace(',',''))

In [22]:
payrate_split[1]

0               225000 P.A
1        250000 P.A. 20000
2                     None
3                     None
4                     None
               ...
21995                 None
21996          1400000 P.A
21997                 None
21998                 None
21999          2200000 P.A
Name: 1, Length: 22000, dtype: object

In [23]:
payrate_split[1]=payrate_split[1].str.replace(pattern,'')

C:\Users\sandy4232\AppData\Local\Temp\ipykernel_20276\414023400.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  payrate_split[1]=payrate_split[1].str.replace(pattern,'')

In [24]:
payrate_split[1]

0         225000
1         250000
2
3
4
          ...
21995
21996    1400000
21997
21998
21999    2200000
Name: 1, Length: 22000, dtype: object

In [25]:
payrate_split.dtypes

0    object
1    object
2    object
3    object
4    object
5    object
6    object
dtype: object

In [26]:
payrate_split[0]=pd.to_numeric(payrate_split[0],errors='coerce')
payrate_split[1]=pd.to_numeric(payrate_split[1],errors='coerce')

In [27]:
payrate_split.dtypes

0    float64
1    float64
2     object
3     object
4     object
5     object
6     object
dtype: object

In [28]:
pay=pd.concat([payrate_split[0],payrate_split[1]],axis=1,sort=False)
pay.columns=['min_pay','max_pay']

In [29]:
naukridata=pd.concat([naukridata,pay],axis=1,sort=False)

In [30]:
naukridata.drop('payrate',axis=1,inplace=True)

In [31]:
naukridata

,company,education,experience,industry,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,postdate,site_name,skills,min_pay,max_pay
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,0 - 1 yrs,Media / Entertainment / Internet,Job Description Send me Jobs like this Quali...,210516002263,Chennai,Walkin Data Entry Operator (night Shift),NaN,2016-05-21 19:30:00 +0000,NaN,ITES,150000.0,225000.0
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,0 - 0 yrs,Advertising / PR / MR / Event Management,Job Description Send me Jobs like this Quali...,210516002391,Chennai,Work Based Onhome Based Part Time.,60.0,2016-05-21 19:30:00 +0000,NaN,Marketing,150000.0,250000.0
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,4 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this - as ...,101016900534,Bengaluru,Pl/sql Developer - SQL,NaN,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,NaN,NaN
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,11 - 15 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this - Inv...,81016900536,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,NaN,2016-10-13 16:20:55 +0000,NaN,Accounts,NaN,NaN
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,6 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Pleas...,120916002122,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21995,Morgan Stanley Advantage Services Pvt. Ltd.,UG: Any Graduate - Any Specialization,9 - 13 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this Greet...,241116007152,Bengaluru,Quality Assurance - VP with Morgan Stanley Ban...,2.0,2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - QA & Testing,NaN,NaN
21996,Careernet Technologies Pvt Ltd hiring for Client,UG: B.Tech/B.E. - Any Specialization PG:M.Tech...,3 - 5 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Looki...,241116001104,"Bengaluru, Gurgaon",Java Backend Developers for a Product Company,NaN,2016-11-24 22:47:05 +0000,www.naukri.com,IT Software - Application Programming,850000.0,1400000.0
21997,Musk - Startup,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,2 - 4 yrs,Internet / Ecommerce,Job Description Send me Jobs like this Work ...,251116900644,Bengaluru,Full Stack Development Engineer,NaN,2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - Application Programming,NaN,NaN
21998,Confidential,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,7 - 12 yrs,IT-Software / Software Services,Job Description Send me Jobs like this We ar...,231116901329,"Delhi NCR, Bengaluru",Sr UI Developer/ Technical Lead - Html/ CSS/ J...,NaN,2016-11-27 22:47:05 +0000,www.naukri.com,IT Software - Application Programming,NaN,NaN
21999,Cambio Consulting India Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,5 - 10 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Job d...,251116003840,Bengaluru,RF Firmware Engineers,NaN,2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - System Programming,1200000.0,2200000.0

In [32]:
naukridata['avg_payrate']=(naukridata['min_pay']+naukridata['max_pay'])/2

In [33]:
naukridata

,company,education,experience,industry,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,postdate,site_name,skills,min_pay,max_pay,avg_payrate
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,0 - 1 yrs,Media / Entertainment / Internet,Job Description Send me Jobs like this Quali...,210516002263,Chennai,Walkin Data Entry Operator (night Shift),NaN,2016-05-21 19:30:00 +0000,NaN,ITES,150000.0,225000.0,187500.0
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,0 - 0 yrs,Advertising / PR / MR / Event Management,Job Description Send me Jobs like this Quali...,210516002391,Chennai,Work Based Onhome Based Part Time.,60.0,2016-05-21 19:30:00 +0000,NaN,Marketing,150000.0,250000.0,200000.0
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,4 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this - as ...,101016900534,Bengaluru,Pl/sql Developer - SQL,NaN,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,NaN,NaN,NaN
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,11 - 15 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this - Inv...,81016900536,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,NaN,2016-10-13 16:20:55 +0000,NaN,Accounts,NaN,NaN,NaN
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,6 - 8 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Pleas...,120916002122,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21995,Morgan Stanley Advantage Services Pvt. Ltd.,UG: Any Graduate - Any Specialization,9 - 13 yrs,Banking / Financial Services / Broking,Job Description Send me Jobs like this Greet...,241116007152,Bengaluru,Quality Assurance - VP with Morgan Stanley Ban...,2.0,2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - QA & Testing,NaN,NaN,NaN
21996,Careernet Technologies Pvt Ltd hiring for Client,UG: B.Tech/B.E. - Any Specialization PG:M.Tech...,3 - 5 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Looki...,241116001104,"Bengaluru, Gurgaon",Java Backend Developers for a Product Company,NaN,2016-11-24 22:47:05 +0000,www.naukri.com,IT Software - Application Programming,850000.0,1400000.0,1125000.0
21997,Musk - Startup,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,2 - 4 yrs,Internet / Ecommerce,Job Description Send me Jobs like this Work ...,251116900644,Bengaluru,Full Stack Development Engineer,NaN,2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - Application Programming,NaN,NaN,NaN
21998,Confidential,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,7 - 12 yrs,IT-Software / Software Services,Job Description Send me Jobs like this We ar...,231116901329,"Delhi NCR, Bengaluru",Sr UI Developer/ Technical Lead - Html/ CSS/ J...,NaN,2016-11-27 22:47:05 +0000,www.naukri.com,IT Software - Application Programming,NaN,NaN,NaN
21999,Cambio Consulting India Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,5 - 10 yrs,IT-Software / Software Services,Job Description Send me Jobs like this Job d...,251116003840,Bengaluru,RF Firmware Engineers,NaN,2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - System Programming,1200000.0,2200000.0,1700000.0

In [34]:
#cleaning exp tab
naukridata['experience']

0          0 - 1 yrs
1          0 - 0 yrs
2          4 - 8 yrs
3        11 - 15 yrs
4          6 - 8 yrs
            ...
21995     9 - 13 yrs
21996      3 - 5 yrs
21997      2 - 4 yrs
21998     7 - 12 yrs
21999     5 - 10 yrs
Name: experience, Length: 22000, dtype: object

In [35]:
exp_split=naukridata['experience'].str.split('-',expand=True)
exp_split

         0        1     2
0       0     1 yrs  None
1       0     0 yrs  None
2       4     8 yrs  None
3      11    15 yrs  None
4       6     8 yrs  None
...    ...      ...   ...
21995   9    13 yrs  None
21996   3     5 yrs  None
21997   2     4 yrs  None
21998   7    12 yrs  None
21999   5    10 yrs  None

[22000 rows x 3 columns]

In [36]:
exp_split[0]=exp_split[0].str.strip()
exp_split[0]

0         0
1         0
2         4
3        11
4         6
         ..
21995     9
21996     3
21997     2
21998     7
21999     5
Name: 0, Length: 22000, dtype: object

In [37]:
exp_split

        0        1     2
0       0    1 yrs  None
1       0    0 yrs  None
2       4    8 yrs  None
3      11   15 yrs  None
4       6    8 yrs  None
...    ..      ...   ...
21995   9   13 yrs  None
21996   3    5 yrs  None
21997   2    4 yrs  None
21998   7   12 yrs  None
21999   5   10 yrs  None

[22000 rows x 3 columns]

In [38]:
exp_split[1]

0          1 yrs
1          0 yrs
2          8 yrs
3         15 yrs
4          8 yrs
          ...
21995     13 yrs
21996      5 yrs
21997      4 yrs
21998     12 yrs
21999     10 yrs
Name: 1, Length: 22000, dtype: object

In [39]:
exp_split[1][0]
exp_split[1]=exp_split[1].str.strip()
exp_split[1]=exp_split[1].str.replace(pattern,'')

C:\Users\sandy4232\AppData\Local\Temp\ipykernel_20276\1568539915.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  exp_split[1]=exp_split[1].str.replace(pattern,'')

In [40]:
exp=pd.concat([exp_split[0],exp_split[1]],axis=1,sort=False)

In [41]:
exp.columns=['min_exp','max_exp']

In [42]:
naukridata=pd.concat([naukridata,exp],axis=1,sort=False)

In [43]:
naukridata.drop('experience',axis=1,inplace=True)

In [44]:
naukridata['min_exp']=pd.to_numeric(naukridata['min_exp'],downcast='integer',errors='coerce')
naukridata['max_exp']=pd.to_numeric(naukridata['max_exp'],downcast='integer',errors='coerce')

In [45]:
naukridata

,company,education,industry,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,postdate,site_name,skills,min_pay,max_pay,avg_payrate,min_exp,max_exp
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,Media / Entertainment / Internet,Job Description Send me Jobs like this Quali...,210516002263,Chennai,Walkin Data Entry Operator (night Shift),NaN,2016-05-21 19:30:00 +0000,NaN,ITES,150000.0,225000.0,187500.0,0.0,1.0
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,Advertising / PR / MR / Event Management,Job Description Send me Jobs like this Quali...,210516002391,Chennai,Work Based Onhome Based Part Time.,60.0,2016-05-21 19:30:00 +0000,NaN,Marketing,150000.0,250000.0,200000.0,0.0,0.0
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,IT-Software / Software Services,Job Description Send me Jobs like this - as ...,101016900534,Bengaluru,Pl/sql Developer - SQL,NaN,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,NaN,NaN,NaN,4.0,8.0
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,Banking / Financial Services / Broking,Job Description Send me Jobs like this - Inv...,81016900536,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,NaN,2016-10-13 16:20:55 +0000,NaN,Accounts,NaN,NaN,NaN,11.0,15.0
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,IT-Software / Software Services,Job Description Send me Jobs like this Pleas...,120916002122,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,NaN,NaN,NaN,6.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21995,Morgan Stanley Advantage Services Pvt. Ltd.,UG: Any Graduate - Any Specialization,Banking / Financial Services / Broking,Job Description Send me Jobs like this Greet...,241116007152,Bengaluru,Quality Assurance - VP with Morgan Stanley Ban...,2.0,2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - QA & Testing,NaN,NaN,NaN,9.0,13.0
21996,Careernet Technologies Pvt Ltd hiring for Client,UG: B.Tech/B.E. - Any Specialization PG:M.Tech...,IT-Software / Software Services,Job Description Send me Jobs like this Looki...,241116001104,"Bengaluru, Gurgaon",Java Backend Developers for a Product Company,NaN,2016-11-24 22:47:05 +0000,www.naukri.com,IT Software - Application Programming,850000.0,1400000.0,1125000.0,3.0,5.0
21997,Musk - Startup,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,Internet / Ecommerce,Job Description Send me Jobs like this Work ...,251116900644,Bengaluru,Full Stack Development Engineer,NaN,2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - Application Programming,NaN,NaN,NaN,2.0,4.0
21998,Confidential,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,IT-Software / Software Services,Job Description Send me Jobs like this We ar...,231116901329,"Delhi NCR, Bengaluru",Sr UI Developer/ Technical Lead - Html/ CSS/ J...,NaN,2016-11-27 22:47:05 +0000,www.naukri.com,IT Software - Application Programming,NaN,NaN,NaN,7.0,12.0
21999,Cambio Consulting India Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,IT-Software / Software Services,Job Description Send me Jobs like this Job d...,251116003840,Bengaluru,RF Firmware Engineers,NaN,2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - System Programming,1200000.0,2200000.0,1700000.0,5.0,10.0

In [46]:
naukridata['avg_exp']=(naukridata['min_exp']+naukridata['max_exp'])/2

In [47]:
naukridata.columns

Index(['company', 'education', 'industry', 'jobdescription', 'jobid',
       'joblocation_address', 'jobtitle', 'numberofpositions', 'postdate',
       'site_name', 'skills', 'min_pay', 'max_pay', 'avg_payrate', 'min_exp',
       'max_exp', 'avg_exp'],
      dtype='object')

In [48]:
naukridata

,company,education,industry,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,postdate,site_name,skills,min_pay,max_pay,avg_payrate,min_exp,max_exp,avg_exp
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,Media / Entertainment / Internet,Job Description Send me Jobs like this Quali...,210516002263,Chennai,Walkin Data Entry Operator (night Shift),NaN,2016-05-21 19:30:00 +0000,NaN,ITES,150000.0,225000.0,187500.0,0.0,1.0,0.5
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,Advertising / PR / MR / Event Management,Job Description Send me Jobs like this Quali...,210516002391,Chennai,Work Based Onhome Based Part Time.,60.0,2016-05-21 19:30:00 +0000,NaN,Marketing,150000.0,250000.0,200000.0,0.0,0.0,0.0
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,IT-Software / Software Services,Job Description Send me Jobs like this - as ...,101016900534,Bengaluru,Pl/sql Developer - SQL,NaN,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,NaN,NaN,NaN,4.0,8.0,6.0
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,Banking / Financial Services / Broking,Job Description Send me Jobs like this - Inv...,81016900536,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,NaN,2016-10-13 16:20:55 +0000,NaN,Accounts,NaN,NaN,NaN,11.0,15.0,13.0
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,IT-Software / Software Services,Job Description Send me Jobs like this Pleas...,120916002122,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,2016-10-13 16:20:55 +0000,NaN,IT Software - Application Programming,NaN,NaN,NaN,6.0,8.0,7.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21995,Morgan Stanley Advantage Services Pvt. Ltd.,UG: Any Graduate - Any Specialization,Banking / Financial Services / Broking,Job Description Send me Jobs like this Greet...,241116007152,Bengaluru,Quality Assurance - VP with Morgan Stanley Ban...,2.0,2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - QA & Testing,NaN,NaN,NaN,9.0,13.0,11.0
21996,Careernet Technologies Pvt Ltd hiring for Client,UG: B.Tech/B.E. - Any Specialization PG:M.Tech...,IT-Software / Software Services,Job Description Send me Jobs like this Looki...,241116001104,"Bengaluru, Gurgaon",Java Backend Developers for a Product Company,NaN,2016-11-24 22:47:05 +0000,www.naukri.com,IT Software - Application Programming,850000.0,1400000.0,1125000.0,3.0,5.0,4.0
21997,Musk - Startup,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,Internet / Ecommerce,Job Description Send me Jobs like this Work ...,251116900644,Bengaluru,Full Stack Development Engineer,NaN,2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - Application Programming,NaN,NaN,NaN,2.0,4.0,3.0
21998,Confidential,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,IT-Software / Software Services,Job Description Send me Jobs like this We ar...,231116901329,"Delhi NCR, Bengaluru",Sr UI Developer/ Technical Lead - Html/ CSS/ J...,NaN,2016-11-27 22:47:05 +0000,www.naukri.com,IT Software - Application Programming,NaN,NaN,NaN,7.0,12.0,9.5
21999,Cambio Consulting India Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,IT-Software / Software Services,Job Description Send me Jobs like this Job d...,251116003840,Bengaluru,RF Firmware Engineers,NaN,2016-11-25 22:47:05 +0000,www.naukri.com,IT Software - System Programming,1200000.0,2200000.0,1700000.0,5.0,10.0,7.5

In [49]:
#for clening given postdate
naukridata['postdate']

0        2016-05-21 19:30:00 +0000
1        2016-05-21 19:30:00 +0000
2        2016-10-13 16:20:55 +0000
3        2016-10-13 16:20:55 +0000
4        2016-10-13 16:20:55 +0000
                   ...
21995    2016-11-25 22:47:05 +0000
21996    2016-11-24 22:47:05 +0000
21997    2016-11-25 22:47:05 +0000
21998    2016-11-27 22:47:05 +0000
21999    2016-11-25 22:47:05 +0000
Name: postdate, Length: 22000, dtype: object

In [50]:
naukridata['postdate']=pd.to_datetime(naukridata['postdate'])

In [51]:
naukridata['postdate'].dtype

datetime64[ns, UTC]

In [52]:
def fetch_dt_att(dataframe,feature):
    try:
        return pd.Series([dataframe[feature].dt.day,dataframe[feature].dt.month,dataframe[feature].dt.year])
    except:
        print('dose not support')

In [53]:
naukridata[['day','month','year']]=fetch_dt_att(naukridata,'postdate')

In [54]:
naukridata

,company,education,industry,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,postdate,site_name,skills,min_pay,max_pay,avg_payrate,min_exp,max_exp,avg_exp,day,month,year
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,Media / Entertainment / Internet,Job Description Send me Jobs like this Quali...,210516002263,Chennai,Walkin Data Entry Operator (night Shift),NaN,2016-05-21 19:30:00+00:00,NaN,ITES,150000.0,225000.0,187500.0,0.0,1.0,0.5,21.0,5.0,2016.0
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,Advertising / PR / MR / Event Management,Job Description Send me Jobs like this Quali...,210516002391,Chennai,Work Based Onhome Based Part Time.,60.0,2016-05-21 19:30:00+00:00,NaN,Marketing,150000.0,250000.0,200000.0,0.0,0.0,0.0,21.0,5.0,2016.0
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,IT-Software / Software Services,Job Description Send me Jobs like this - as ...,101016900534,Bengaluru,Pl/sql Developer - SQL,NaN,2016-10-13 16:20:55+00:00,NaN,IT Software - Application Programming,NaN,NaN,NaN,4.0,8.0,6.0,13.0,10.0,2016.0
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,Banking / Financial Services / Broking,Job Description Send me Jobs like this - Inv...,81016900536,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,NaN,2016-10-13 16:20:55+00:00,NaN,Accounts,NaN,NaN,NaN,11.0,15.0,13.0,13.0,10.0,2016.0
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,IT-Software / Software Services,Job Description Send me Jobs like this Pleas...,120916002122,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,2016-10-13 16:20:55+00:00,NaN,IT Software - Application Programming,NaN,NaN,NaN,6.0,8.0,7.0,13.0,10.0,2016.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21995,Morgan Stanley Advantage Services Pvt. Ltd.,UG: Any Graduate - Any Specialization,Banking / Financial Services / Broking,Job Description Send me Jobs like this Greet...,241116007152,Bengaluru,Quality Assurance - VP with Morgan Stanley Ban...,2.0,2016-11-25 22:47:05+00:00,www.naukri.com,IT Software - QA & Testing,NaN,NaN,NaN,9.0,13.0,11.0,25.0,11.0,2016.0
21996,Careernet Technologies Pvt Ltd hiring for Client,UG: B.Tech/B.E. - Any Specialization PG:M.Tech...,IT-Software / Software Services,Job Description Send me Jobs like this Looki...,241116001104,"Bengaluru, Gurgaon",Java Backend Developers for a Product Company,NaN,2016-11-24 22:47:05+00:00,www.naukri.com,IT Software - Application Programming,850000.0,1400000.0,1125000.0,3.0,5.0,4.0,24.0,11.0,2016.0
21997,Musk - Startup,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,Internet / Ecommerce,Job Description Send me Jobs like this Work ...,251116900644,Bengaluru,Full Stack Development Engineer,NaN,2016-11-25 22:47:05+00:00,www.naukri.com,IT Software - Application Programming,NaN,NaN,NaN,2.0,4.0,3.0,25.0,11.0,2016.0
21998,Confidential,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,IT-Software / Software Services,Job Description Send me Jobs like this We ar...,231116901329,"Delhi NCR, Bengaluru",Sr UI Developer/ Technical Lead - Html/ CSS/ J...,NaN,2016-11-27 22:47:05+00:00,www.naukri.com,IT Software - Application Programming,NaN,NaN,NaN,7.0,12.0,9.5,27.0,11.0,2016.0
21999,Cambio Consulting India Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,IT-Software / Software Services,Job Description Send me Jobs like this Job d...,251116003840,Bengaluru,RF Firmware Engineers,NaN,2016-11-25 22:47:05+00:00,www.naukri.com,IT Software - System Programming,1200000.0,2200000.0,1700000.0,5.0,10.0,7.5,25.0,11.0,2016.0

In [55]:
naukridata.drop('postdate',axis=1,inplace=True)

In [56]:
naukridata

,company,education,industry,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,site_name,skills,min_pay,max_pay,avg_payrate,min_exp,max_exp,avg_exp,day,month,year
0,MM Media Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,Media / Entertainment / Internet,Job Description Send me Jobs like this Quali...,210516002263,Chennai,Walkin Data Entry Operator (night Shift),NaN,NaN,ITES,150000.0,225000.0,187500.0,0.0,1.0,0.5,21.0,5.0,2016.0
1,find live infotech,UG: B.Tech/B.E. - Any Specialization PG:MBA/PG...,Advertising / PR / MR / Event Management,Job Description Send me Jobs like this Quali...,210516002391,Chennai,Work Based Onhome Based Part Time.,60.0,NaN,Marketing,150000.0,250000.0,200000.0,0.0,0.0,0.0,21.0,5.0,2016.0
2,Softtech Career Infosystem Pvt. Ltd,UG: Any Graduate - Any Specialization PG:Any P...,IT-Software / Software Services,Job Description Send me Jobs like this - as ...,101016900534,Bengaluru,Pl/sql Developer - SQL,NaN,NaN,IT Software - Application Programming,NaN,NaN,NaN,4.0,8.0,6.0,13.0,10.0,2016.0
3,Onboard HRServices LLP,UG: Any Graduate - Any Specialization PG:CA Do...,Banking / Financial Services / Broking,Job Description Send me Jobs like this - Inv...,81016900536,"Mumbai, Bengaluru, Kolkata, Chennai, Coimbator...",Manager/ad/partner - Indirect Tax - CA,NaN,NaN,Accounts,NaN,NaN,NaN,11.0,15.0,13.0,13.0,10.0,2016.0
4,Spire Technologies and Solutions Pvt. Ltd.,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,IT-Software / Software Services,Job Description Send me Jobs like this Pleas...,120916002122,Bengaluru,JAVA Technical Lead (6-8 yrs) -,4.0,NaN,IT Software - Application Programming,NaN,NaN,NaN,6.0,8.0,7.0,13.0,10.0,2016.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21995,Morgan Stanley Advantage Services Pvt. Ltd.,UG: Any Graduate - Any Specialization,Banking / Financial Services / Broking,Job Description Send me Jobs like this Greet...,241116007152,Bengaluru,Quality Assurance - VP with Morgan Stanley Ban...,2.0,www.naukri.com,IT Software - QA & Testing,NaN,NaN,NaN,9.0,13.0,11.0,25.0,11.0,2016.0
21996,Careernet Technologies Pvt Ltd hiring for Client,UG: B.Tech/B.E. - Any Specialization PG:M.Tech...,IT-Software / Software Services,Job Description Send me Jobs like this Looki...,241116001104,"Bengaluru, Gurgaon",Java Backend Developers for a Product Company,NaN,www.naukri.com,IT Software - Application Programming,850000.0,1400000.0,1125000.0,3.0,5.0,4.0,24.0,11.0,2016.0
21997,Musk - Startup,UG: B.Tech/B.E. - Any Specialization PG:Any Po...,Internet / Ecommerce,Job Description Send me Jobs like this Work ...,251116900644,Bengaluru,Full Stack Development Engineer,NaN,www.naukri.com,IT Software - Application Programming,NaN,NaN,NaN,2.0,4.0,3.0,25.0,11.0,2016.0
21998,Confidential,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,IT-Software / Software Services,Job Description Send me Jobs like this We ar...,231116901329,"Delhi NCR, Bengaluru",Sr UI Developer/ Technical Lead - Html/ CSS/ J...,NaN,www.naukri.com,IT Software - Application Programming,NaN,NaN,NaN,7.0,12.0,9.5,27.0,11.0,2016.0
21999,Cambio Consulting India Pvt Ltd,UG: B.Tech/B.E. - Any Specialization PG:MCA - ...,IT-Software / Software Services,Job Description Send me Jobs like this Job d...,251116003840,Bengaluru,RF Firmware Engineers,NaN,www.naukri.com,IT Software - System Programming,1200000.0,2200000.0,1700000.0,5.0,10.0,7.5,25.0,11.0,2016.0

In [57]:
#cleaning job adress

naukridata['joblocation_address'].value_counts()

Bengaluru/Bangalore                                                                          3775
Mumbai                                                                                       2348
Bengaluru                                                                                    1453
Hyderabad / Secunderabad                                                                     1246
Chennai                                                                                      1204
                                                                                             ...
Delhi/NCR(National Capital Region) , Ernakulam / Kochi/ Cochin , Kanpur , Kolkata , Nasik       1
Gurgaon , Noida , Delhi                                                                         1
Pune , Noida                                                                                    1
Pune , Delhi , Bengaluru/Bangalore                                                              1
Bengaluru, Malaysia                                                                             1
Name: joblocation_address, Length: 2329, dtype: int64

In [58]:
data=naukridata.copy()

In [59]:
data['joblocation_address'].value_counts().head(60).index

Index(['Bengaluru/Bangalore', 'Mumbai', 'Bengaluru',
       'Hyderabad / Secunderabad', 'Chennai', 'Hyderabad', 'Noida', 'Delhi',
       'Gurgaon', 'Mumbai , Mumbai', 'Delhi/NCR(National Capital Region)',
       'Bengaluru/Bangalore , Bengaluru / Bangalore', 'Delhi , Delhi',
       'Noida , Noida/Greater Noida', 'Gurgaon , Gurgaon',
       'Bengaluru/Bangalore , Chennai , Hyderabad / Secunderabad', 'Ghaziabad',
       'Bengaluru/Bangalore , Hyderabad / Secunderabad',
       'Bengaluru, Hyderabad', 'Delhi/NCR(National Capital Region) , Gurgaon',
       'Bengaluru/Bangalore , Chennai',
       'Bengaluru/Bangalore , Mumbai , Chennai , Pune , Hyderabad / Secunderabad , Delhi/NCR(National Capital Region) , Ahmedabad , Kolkata , Surat',
       'Bengaluru/Bangalore , karnataka',
       'Delhi , Delhi/NCR(National Capital Region)',
       'Chennai , Hyderabad / Secunderabad',
       'Hyderabad / Secunderabad , Hyderabad/Secunderabad',
       'Delhi/NCR(National Capital Region) , Noida',
       'Bengaluru, Chennai, Hyderabad', 'Navi Mumbai', 'Mumbai , mumbai',
       'Mumbai , Navi Mumbai', 'Hyderabad, Bengaluru', 'Faridabad',
       'Chennai , Bengaluru/Bangalore', 'Mumbai , Pune',
       'Bengaluru, Hyderabad, Chennai', 'Bengaluru/Bangalore , Mumbai',
       'Hyderabad / Secunderabad , Bengaluru/Bangalore', 'Mumbai, Bengaluru',
       'Bengaluru/Bangalore , Chennai , Noida , Hyderabad / Secunderabad',
       'Bengaluru/Bangalore , Mumbai , Chennai', 'Delhi , Mumbai',
       'Bengaluru, Chennai',
       'Bengaluru/Bangalore , Bengaluru / Bangalore , Delhi , Mumbai',
       'Bengaluru/Bangalore , Mumbai , Delhi/NCR(National Capital Region)',
       'Delhi , Delhi/NCR', 'Bengaluru Bangalore',
       'Bengaluru/Bangalore , Hyderabad / Secunderabad , Delhi/NCR(National Capital Region)',
       'Gurgaon , Delhi/NCR(National Capital Region)',
       'Bengaluru/Bangalore , Gurgaon', 'Mumbai, maharashtra',
       'Mumbai , Hyderabad / Secunderabad , Guwahati , Bhubaneshwar , Raipur , Chandigarh',
       'Bengaluru/Bangalore , bangalore',
       'Bengaluru/Bangalore , Bengaluru / Bangalore , Delhi',
       'Delhi/NCR(National Capital Region) , Gurgaon , Noida',
       'Delhi/NCR(National Capital Region) , Delhi',
       'Bengaluru/Bangalore , Bengaluru / Bangalore , Mumbai',
       'Noida , Bengaluru/Bangalore',
       'Bengaluru/Bangalore , Hyderabad / Secunderabad , Chennai',
       'Bengaluru/Bangalore , Bengaluru'],
      dtype='object')

In [60]:
rep=pd.read_csv('replacements.csv').set_index('Unnamed: 0')
rep

                                                   joblocation_address
Unnamed: 0
 Delhi/NCR(National Capital Region)                              Delhi
 Delhi/NCR(National Capital Region)                              Delhi
(Bengaluru/Bangalore)                                        Bangalore
Bangalore                                                    Bangalore
Bangalore , Bangalore / Bangalore                            Bangalore
Bangalore Bangalore                                          Bangalore
Bangalore,Bangalore / Bangalore                              Bangalore
Bangalore,karnataka                                          Bangalore
Bengaluru                                                    Bangalore
Bengaluru/Bangalore                                          Bangalore
Bengaluru/Bangalore , bangalore                              Bangalore
DELHI(NATIONAL CAPITAL REGION)                                   Delhi
Delhi                                                            Delhi
Delhi , Delhi                                                    Delhi
Delhi , Delhi/Greater Delhi                                      Delhi
Delhi , Delhi/NCR(National Capital Region)                       Delhi
Delhi NCR                                                        Delhi
Delhi(National Capital Region)                                   Delhi
Delhi(National Capital Region) , Delhi                           Delhi
Delhi,Delhi                                                      Delhi
Delhi/NCR                                                        Delhi
Delhi/NCR(National Capital Region)                               Delhi
Delhi/NCR(National Capital Region)                               Delhi
Delhi/NCR(National Capital Region) , Delhi                       Delhi
Delhi/NCR(National Capital Region) , Gurgaon , ...               Delhi
Delhi/NCR(National Capital Region) , Noida                       Delhi
Delhi/NCR(National Capital Region),Gurgaon                       Delhi
Ghaziabad                                                        Delhi
Gurgaon                                                          Delhi
Gurgaon , Delhi/NCR(National Capital Region)                     Delhi
Gurgaon , Gurgaon                                                Delhi
Hyderabad / Secunderabad                                     Hyderabad
Hyderabad / Secunderabad , Hyderabad/Secunderabad            Hyderabad
Mumbai , Mumbai                                                 Mumbai
Mumbai, maharashtra                                             Mumbai
NCR,NCR                                                          Delhi
Noida                                                            Delhi
Noida , Noida/Greater Noida                                      Delhi
Noida/Greater Noida                                              Delhi

In [61]:
rep_dec=rep.to_dict()

In [62]:
data.replace(rep_dec,inplace=True,regex=True)

In [63]:
data['joblocation_address'].value_counts().head(10)

Bangalore                                 5228
Mumbai                                    2887
Delhi                                     2741
Hyderabad                                 2182
Chennai                                   1204
Delhi(National Capital Region)             442
Bangalore , Bangalore / Bangalore          360
Delhi , Delhi/Greater Delhi                313
Delhi , Delhi                              227
Delhi(National Capital Region) , Delhi     162
Name: joblocation_address, dtype: int64

In [64]:
data[data['joblocation_address']=='Mumbai']

,company,education,industry,jobdescription,jobid,joblocation_address,jobtitle,numberofpositions,site_name,skills,min_pay,max_pay,avg_payrate,min_exp,max_exp,avg_exp,day,month,year
12148,HRD House,NaN,Pharma / Biotech / Clinical Research,Job Description Send me Jobs like this You w...,51116600445,Mumbai,Sr. Manager Regulatory Affairs & Quality (phar...,NaN,www.naukri.com,Production,NaN,NaN,NaN,9.0,14.0,11.5,4.0,11.0,2016.0
12149,Indian Institute of Technology Bombay,NaN,Education / Teaching / Training,Job Description Send me Jobs like this Adver...,170816900309,Mumbai,Associate Professor - Membrane Science & Techn...,NaN,www.naukri.com,Teaching,NaN,NaN,NaN,6.0,11.0,8.5,17.0,8.0,2016.0
12150,Indian Institute of Technology Bombay,NaN,Education / Teaching / Training,Job Description Send me Jobs like this Adver...,170816900217,Mumbai,Associate Professor - Nucleic Acid Chemistry,NaN,www.naukri.com,Teaching,NaN,NaN,NaN,6.0,11.0,8.5,17.0,8.0,2016.0
12151,SK VedaInfo Universal Technologies Pvt. Ltd.,NaN,IT-Software / Software Services,"Job Description Send me Jobs like this Hi, G...",91116600132,Mumbai,SAP Basis with HANA - Urgent Openings @ Mumbai,NaN,www.naukri.com,IT Software - Application Programming,NaN,NaN,NaN,4.0,8.0,6.0,8.0,11.0,2016.0
12152,Big Leap HR Consultants LLP,NaN,Banking / Financial Services / Broking,Job Description Send me Jobs like this Build...,51116600454,Mumbai,Senior Manager - Business Alliances,NaN,www.naukri.com,Financial Services,NaN,NaN,NaN,4.0,6.0,5.0,4.0,11.0,2016.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18162,AddRec Solutions Pvt.Ltd.,"UG: Any Graduate - Any Specialization, Graduat...",Banking / Financial Services / Broking,Job Description Send me Jobs like this Produ...,280416006465,Mumbai,Opportunity Product Manager- Current Account -...,NaN,NaN,Sales,NaN,NaN,NaN,2.0,7.0,4.5,28.0,4.0,2016.0
18165,Achievers League International Executive Searc...,UG: Any Graduate - Any Specialization PG:Any P...,Insurance,Job Description Send me Jobs like this JOB D...,280416007695,Mumbai,Motor Insurance Sales - General Insurance,NaN,NaN,Sales,NaN,NaN,NaN,1.0,6.0,3.5,28.0,4.0,2016.0
18166,APS Management Solution hiring for MNC Singapo...,"UG: Any Graduate - Any Specialization, Graduat...",Architecture / Interior Design,Job Description Send me Jobs like this Posit...,280416007804,Mumbai,Senior Construction Manager - Mumbai - Most Ur...,1.0,NaN,Site Engineering,400000.0,900000.0,650000.0,6.0,11.0,8.5,28.0,4.0,2016.0
18168,D P Sangoi & Associates hiring for Chartered A...,"UG: Any Graduate - Any Specialization, Graduat...",Accounting / Finance,Job Description Send me Jobs like this Candi...,280416007225,Mumbai,Audit Manager,2.0,NaN,Accounts,NaN,NaN,NaN,1.0,6.0,3.5,28.0,4.0,2016.0
18169,Nextgen Clearing Pvt. Ltd.,"UG: Any Graduate - Any Specialization, Graduat...",IT-Software / Software Services,Job Description Send me Jobs like this 1)Ens...,280416006982,Mumbai,Urgent Opening for Project Coordinator in Powai,1.0,NaN,IT Software - Telecom Software,NaN,NaN,NaN,2.0,4.0,3.0,28.0,4.0,2016.0

In [65]:
naukridata['joblocation_address']=data['joblocation_address']

In [66]:
naukridata['joblocation_address'].nunique()

2141

In [67]:
data['joblocation_address'].nunique()

2141

In [68]:
naukridata.to_csv('updated_data.csv',index=False)